:root{
    --white: rgba(245, 245, 245, 0.913);
    --black: rgba(0, 0, 0, 0.199);
    --dark: rgba(0, 0, 0, 0.881);
    --oro: rgba(234, 190, 63);
    --red: rgba(178, 34, 34, 0.826);
    --gray: rgba(128, 128, 128, 0.783);
    --grey: rgba(225, 218, 218, 0.831);
}

html{
    background: whitesmoke;
    display: flex;
    justify-content: center;
    font-family: 'Secular One', sans-serif;
}

.text-center{
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
}

#calculator{
    background-color: var(--dark);
    border-radius: 3rem;
    height: 38rem;
    width: 26rem;
    box-shadow:  10px 10px 30px #636161,-10px -10px 30px #3e3e3e;
}

#calculator input[type="textfield"]{
    background-color: var(--black);
    width: 90%;
    border-radius: 3rem;
    margin: 1rem;
    padding-right: 0.5rem;
    text-align: right;
    font-size: 7rem;
    color: var(--grey);
}

.btn{   
    width: 5rem;
    height: 5rem;
    background: whitesmoke;
    border-radius: 50%;
    font-size: 3rem;
    color: var(--gray);
    border:none;
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;  
}

.btn:hover{   
    background: var(--white);
    font-size: 4rem;
    color: var(--dark);
    transform: scale(1.1);
    transition: 0.5s;  
}

.row{
    display: flex; 
    padding: 0.2rem 1rem;
    justify-content: space-between;
}

.btn-white{
    background-color: var(--white);  
}

.btn-gray{
    background-color: var(--gray);
}

.btn-gray:hover{
    background-color: var(--red);
}

.btn-operator{
    background: var(--red);
    font-size: 3.5rem;
}

.btn-ac{
    background: var(--oro);
    color: var(--dark);
}

.btn-ac:hover{
    background: var(--oro);
}

.btn-big{
    width: 50%;
    border-radius: 3rem;     
}

.btn-text-white{
    color: var(--white);
}